.ui-grid-abox {
    width: 1000px;
    height: 500px;
    background-color: #425a6c;
    margin-top: 100px;
    margin-left: 100px;
}  
a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    padding: 5px 10px;
    margin-top: 50px;
    margin-left: 150px;
}
a:hover::before, a:hover::after { 
    position: absolute; 
}
a:hover::before { 
    content: "\5B"; 
    left: -20px; 
}
a:hover::after { 
    content: "\5D"; 
    right:  -20px; 
}

.ui-grid-imgitem {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 110px;
}
